%% Having eqc_ex as a rebar dependency

%% This configuration file only exists so eqc_ex can be used
%% as a rebar dependency, the same happens for the file
%% src/eqc_ex.app.src.

%% After adding eqc_ex as a dependency you need to explicitly 
%% add it to lib_dirs of the package that uses eqc_ex:
%%
%%   {lib_dirs, [
%%     "deps/eqc_ex/lib"
%%   ]}.
%%

%% Run make as the proper compilation step
{post_hooks, [{compile,"mix deps.get compile"}]}.

%% This prevents rebar_elixir_plugin from recompiling Elixir
{ex_opts, [{src_dirs, [".PHONY"]}]}.

